*{
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 214, 214);
    margin: 0;
    padding: 0;
}

/* Navigation Bar Styles & Hero section Styles */
.navigation-bar {
    background-color: rgb(255, 254, 254);
    overflow: hidden;
    font-family:monospace;
    padding: 10px 30px;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
}

.logo {
    color: rgb(223, 23, 23);
    flex: 1;

}

.cart-icon{
    flex: 1;
    width: 10px;
    height: 20px;
    margin-left: 60%;
    
}

.hero-section {
   
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.hero-background {
    background-image: url('/images/chili_board.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1; 
    filter: brightness(70%);
}

.hero-title{
    font-size: 50px;
    margin-bottom: 5px;
    font-family: sans-serif;

}

.hero-description {
    font-size: 25px;
}

.promises-text{
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.promises-list{
    padding-left: 40px;          
    list-style-position: outside;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 20px;
}

.hero-content {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 50px 20px;
    z-index: 2;

}



.content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    padding: 20px;
    gap: 20px;
}


@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .promises-section,
    .products-section,
    .contact-section {
        flex: none;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 80%;
        max-width: 300px;
        margin-bottom: 20px;
    }
}

.promises-section{
    flex: 1;
    height: 300px;
}

.products-section{
    flex: 2;
    height: 300px;
}

.contact-section{
    flex: 1;
    height: 300px;
}
                
/* products section styles & layout */

.products-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.products-text{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.products{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.product-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
   
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.product-description {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
    flex-grow: 1;
}

.product-image {
    width: 80%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 20px;
}

.buy-now-button {
    margin-top: auto;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* contact section style */
.contact-text{
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 40px;
}
.contact-us-phone{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
.contact-us-whatsapp{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
.contact-us-email{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
    color: black;
    text-decoration: none;

}
.contact-us-location{
    font-size: 20px;
    /* margin-top: 20px; */
    margin-left: 40px;
    color: black;
    text-decoration: none;
}
/*footer bar styling*/
.footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    padding-top: 20px;

    /* display: flex; */
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 254, 254);  
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;

}


.toast-notification{

    position: fixed;
    top: 55px;
    right: 5px;
    z-index: 1000;


    background-color: wheat;
    color: rgb(58, 55, 55);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    


}

.toast-notification.show{
    opacity: 1;

}

.prices_about{
    display: flex;
    flex-direction: row;
    height: 50%;    
    width: 100%;
;
}


.prices{

    flex: 1;
    
    width: 50%;
    align-items: center;
    background: whitesmoke;
     padding: 1%;
     margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 20px;
    border-radius: 10px;
    
}



table , td ,tr{
    border: 3px solid white;
    border-collapse: collapse;
    font-size: large;
}

table{
    justify-self: center;
    background-color: #ccc;
    
}
td{
    padding: 3px;
}
.price-table-text{
    font-size: large;
    margin-bottom: 20px;
}

td.price-table-header{
    background-color: plum;
    padding: 5px;
}


tr{
    background-color:  #96D4D4;
    padding: 3px;
}

.price-table-text{
    text-align: center;
    
    margin-left: 10%;
   margin-right: 10%;
   

}
.about-us{
    
    flex: 1;
    width: 50%;
    background-color: white;
    padding: 1%;
    
    margin-right: 5%;
    padding-bottom:25px;
    border-radius: 10px;
    
    
}

.about-us-text{
    text-align: center;
}